/* Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables */
:root {
  --primary-color: #08c0dd;
  --secondary-color: #262431;
  --tetiary-color: #2f2c3d;
}

html,
body {
  font-family: "Open Sans", sans-serif;
  background: var(--secondary-color);
  color: #fff;
  line-height: 1.6;
  scroll-behavior: smooth;
}

a {
  color: #fff;
  text-decoration: none;
}

ul {
  list-style: none;
}

/* Utility Classes */
.container {
  max-width: 1100px;
  margin: 0 auto;
}

.btn {
  padding: 0.5rem 2rem;
  background-color: var(--primary-color);
  border: 2px solid transparent;
  color: #fff;
  font-weight: 600;
  border-radius: 50px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: var(--secondary-color);
  border: 2px solid var(--primary-color);
}

/* Navbar */
.navbar {
  padding: 1rem 2rem;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  transition: background-color 0.3s ease-in-out;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo img {
  width: 112px;
  height: 36px;
}

.navbar.navbar--scroll {
  background-color: rgba(38, 36, 49, 0.8);
  backdrop-filter: blur(10px);
}

.navbar__menu-list {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-weight: 600;
}

.navbar__mobile-menu-items {
  transform: translate(100%);
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: var(--secondary-color);
  opacity: 0.95;
  padding: 3rem 2rem;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar__mobile-menu-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.2rem;
}

.navbar__menu-link:hover,
.navbar__mobile-menu-link:hover {
  color: var(--primary-color);
}

.navbar__menu-link--primary,
.navbar__mobile-menu-link--primary {
  color: var(--primary-color);
}

.navbar__menu-link--primary:hover,
.navbar__mobile-menu-link--primary:hover {
  color: #fff;
}

.navbar__mobile-menu {
  display: none;
  cursor: pointer;
}

/* Hero */
.hero {
  padding: 11.5rem 2rem 8rem;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    url("../images/header-background.jpg") center center/cover no-repeat;
}

.hero__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.hero__content {
  max-width: 500px;
}

.hero__title {
  font-size: 3.3rem;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.2;
}

.hero__title--primary {
  color: var(--primary-color);
}

.hero__description {
  margin-top: 1.5rem;
  font-size: 1.2rem;
  line-height: 1.6;
}

.hero__image img {
  width: 100%;
  max-width: 500px;
}

.hero__buttons {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-top: 2rem;
}

.hero__button {
  padding: 1rem 2rem;
}

.hero__button i {
  margin-right: 0.5rem;
}

/* Testimonials */
.testimonials {
  padding: 4rem 2rem;
  text-align: center;
}

.testimonials__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.testimonials__card {
  padding: 0 3rem;
}

.testimonials__card-image img {
  width: 96px;
  height: 96px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 50%;
}

.testimonials__card-text {
  font-style: italic;
  margin-bottom: 1.5rem;
}

/* Features */
.features {
  background-color: var(--tetiary-color);
  padding: 6rem 2rem;
}

.features__container {
  text-align: center;
}

.features__title {
  font-size: 2.3rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.features__description {
  max-width: 600px;
  margin: 1rem auto 4rem;
}

.features__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.features__grid-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6rem;
}

.features__grid-item {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: start;
  text-align: right;
}

.features__grid-item-text-title {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.features__grid-item-icon {
  margin-top: 2rem;
}

.features__grid-item i {
  color: var(--primary-color);
}

.features__grid-column-center img {
  width: 100%;
}

.features__grid-column-right .features__grid-item {
  flex-direction: row-reverse;
  text-align: left;
}

/* Preview */
.preview {
  background: url("../images/video-background.jpg") center center/cover
    no-repeat;
}

.preview__container {
  padding: 6rem 2rem;
  text-align: center;
}

.preview__title {
  font-size: 2.3rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.preview__description {
  max-width: 600px;
  margin: 1rem auto 4rem;
}

.preview__video-wrapper {
  position: relative;
}

.preview__video-wrapper img {
  width: 100%;
  max-width: 900px;
  border-radius: 10px;
}

/* Play Button */
.preview__video-play-button {
  position: absolute;
  z-index: 10;
  top: 48%;
  left: 50%;
  display: block;
  box-sizing: content-box;
  width: 2rem;
  height: 2.75rem;
  padding: 1.125rem 1.25rem 1.125rem 1.75rem;
  border-radius: 50%;
  cursor: pointer;
  transform: translateX(-50%) translateY(-50%);
}

.preview__video-play-button::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  display: block;
  width: 4.375rem;
  height: 4.375rem;
  border-radius: 50%;
  background: #00c9db;
  transition: all 200ms;
  transform: translateX(-50%) translateY(-50%);
}

.preview__video-play-button span {
  position: relative;
  display: block;
  z-index: 3;
  top: 0.375rem;
  left: 0.25rem;
  width: 0;
  height: 0;
  border-left: 1.625rem solid #fff;
  border-top: 1rem solid transparent;
  border-bottom: 1rem solid transparent;
}

.preview__video-play-button::before {
  content: "";
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 50%;
  display: block;
  width: 4.75rem;
  height: 4.75rem;
  border-radius: 50%;
  background: #00c9db;
  animation: pulse-border 1500ms ease-out infinite;
  transform: translateX(-50%) translateY(-50%);
}

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal__content {
  background-color: rgba(0, 0, 0, 0.5);
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
  max-width: 600px;
  position: relative;
}

.modal__close-button {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 40px;
  cursor: pointer;
}

/* Screens less than 992px */
@media (max-width: 992px) {
  .hero {
    padding-top: 10rem;
    text-align: center;
  }

  .hero__container {
    flex-direction: column;
  }

  .hero__title {
    font-size: 2.3rem;
  }

  .hero .hero__buttons {
    flex-direction: column;
    gap: 1rem;
    margin: 3rem auto;
  }

  .hero .hero__button {
    width: 100%;
  }

  .testimonials__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .testimonials__card {
    padding: 0 1.5rem;
  }

  .testimonials__card:nth-child(3) {
    display: none;
  }

  .features__grid {
    grid-template-columns: 1fr;
  }

  .features__grid-column {
    gap: 3rem;
  }

  .features__grid-column-left,
  .features__grid-column-right {
    order: 2;
    margin-bottom: 2rem;
  }

  .features__grid-column-center {
    order: 1;
    margin-bottom: 3rem;
  }

  .features__grid-item {
    text-align: center;
    flex-direction: column-reverse;
    max-width: 400px;
  }

  .features__grid-column-right .features__grid-item {
    text-align: center;
    flex-direction: column-reverse;
  }

  .features__grid-item-icon {
    margin: 0 auto;
  }

  .features__grid-column-center img {
    max-width: 300px;
  }
}

/* Screens less than 768px */
@media screen and (max-width: 768px) {
  .navbar__menu {
    display: none;
  }

  .navbar__mobile-menu {
    display: block;
  }

  .navbar__mobile-menu-toggle {
    display: block;
    padding: 10px;
  }

  .navbar__mobile-menu-items.active {
    transform: translateX(0);
  }

  .testimonials__container {
    grid-template-columns: 1fr;
  }

  .testimonials__card:nth-child(2) {
    display: none;
  }

  .modal__content {
    margin: 40% auto;
    padding: 10px;
    width: 90%;
  }

  .modal__content iframe {
    width: 100%;
  }
}
